<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="All In merupakan project dari course Front End Expert Dicoding yang berkaitan dengan resto"
    />
    <meta name="theme-color" content="#496989" />
    <link rel="icon" href="./favicon.ico" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="./images/icons/icon-192x160.png" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

    <title>All In</title>
    <link rel="manifest" href="./app.webmanifest" />
  </head>
  <body>
    <a href="#item_content" aria-label="Menuju ke konten" class="skip_link"
      >Menuju ke konten</a
    >
    <header id="header">
      <navigation-bar /></navigation-bar>
    </header>

    <main id="main"></main>

    <footer id="footer">
      <footer-bar></footer-bar>
    </footer>

  </body>
</html>
