@import 'base';

//screen for tablet
@media screen and (min-width: 600px) {
    .resto_list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .resto_item {
        .resto_content {
            min-height: 395px;
        }
    }

    .footer_container {
        padding: 0 40px;

        img {
            height: 50px;
        }

        p {
            font-size: 16px;
            font-weight: $medium;
        }
    }
}

//screen laptop
@media screen and (min-width: 1200px) {
    .resto_container {
        padding: 36px 40px;

        .resto_title {
            h2 {
                font-size: 28px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    .resto_list {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 28px 20px;
    }

    .resto_item {
        .resto_content {
            min-height: 335px;
        }
    }
}